footer{
    color: black;
}

footer p {
    padding: 1em;
}

footer a {
    color: var(--font-color);
}

footer #designer-name:after {
    color: var(--font-color);
    content: var(--designer-name, '');
}
