.grid {
    background: var(--background-color);
    margin: 0;
    display: grid;
    grid-template-areas: "h" "m" "f";
    grid-template-columns: 1fr;
    grid-template-rows: 6em auto auto;
}

.grid header{
    grid-area: h;
}

body {
    margin: 0;
    background: var(--background-color);
    text-align: center;
    font-family: "Noto Sans JP";
}

main {
    grid-area: m;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.5px;
}

.grid footer{
    grid-area: f;
}
