@import "../color.css";
/* @import "timetable_grid_sp.css"; */

#main_wrapper {
    max-width: 1300px;
    display: inline-block;
    margin: 3em;
}

#timetable {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 50px auto auto auto auto auto;
}

.centering {
    display: flex;
    vertical-align:middle;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.timetable-element {
    margin: 0.5em;
    background-color: var(--table-cell-background-color);
    border-radius: 22px;
    text-align: center;
    padding: 10px;
}

.timetable-heading {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    margin: 0.5em;
    background-color: var(--table-header-background-color);
    border-radius: 22px;
    text-align: center;
    padding: 5px;
}

.timetable-element-wrapper {
    display: block;
}

.lecture-name {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

p {
    margin: 10px 0;
}

.timetable-period-mobile-shell {
    display: none;
}

.timetable-lecture-shell {
    display: grid;
}
